@import 'text';
@import 'typhography';

// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html {
  font-family: $font-family;
  font-size: initial;
  background-color: white;
}

html,
body {
  font-family: $font-family;
}

hr {
  margin: 1rem 0;
  border-color: $color-gray-300;
}
