//
//  Typography
//
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

@font-face {
  font-family: 'NotoSansKR';
  src: url(~@/assets/fonts/NotoSans/NotoSans-DemiLight.woff2) format('woff2'),
    url(~@/assets/fonts/NotoSans/NotoSans-DemiLight.woff) format('woff'),
    url(~@/assets/fonts/NotoSans/NotoSans-DemiLight.otf) format('opentype');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url(~@/assets/fonts/NotoSans/NotoSans-Regular.woff2) format('woff2'),
    url(~@/assets/fonts/NotoSans/NotoSans-Regular.woff) format('woff'),
    url(~@/assets/fonts/NotoSans/NotoSans-Regular.otf) format('opentype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url(~@/assets/fonts/NotoSans/NotoSans-Medium.woff2) format('woff2'),
    url(~@/assets/fonts/NotoSans/NotoSans-Medium.woff) format('woff'),
    url(~@/assets/fonts/NotoSans/NotoSans-Medium.otf) format('opentype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url(~@/assets/fonts/NotoSans/NotoSans-Bold.woff2) format('woff2'),
    url(~@/assets/fonts/NotoSans/NotoSans-Bold.woff) format('woff'),
    url(~@/assets/fonts/NotoSans/NotoSans-Bold.otf) format('opentype');
  font-style: normal;
  font-weight: 700;
}
